.home-entities {
    background-color: #181b4e;
  
    &__content {
      &--cards {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 40px 0 20px;
  
        @media (max-width: 800px) {
          gap: 24px;
        }
  
        .card {
          position: relative;
          background-color: #F5F5F5;
          width: 100%;
          max-width: 1170px;
          border-radius: 4px;
          display: flex;
          flex-direction: row;
  
          & .tag {
            position: absolute;
            top: 50%;
            left: -105px;
            transform: translate(0%, -50%);
            background-color: #C40C0C;
            border-radius: 4px;
            width: 211px;
            height: 92px;
            display: flex;
            justify-content: end;
            align-items: center;
  
            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 50%;
              height: 100%;
              background-color: inherit;
              box-shadow: 0px 5px 0px rgba(12, 13, 39, 1);
            }
  
            .icon {
              width: 47px;
              height: 47px;
              background-color: white;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 30px;
  
              .iconify {
                font-size: 31px;
                color: var(--mc-high-300);
              }
            }
          }
  
          & .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 16px;
            gap: 28px;
            margin-left: 120px;
  
            .header {
              display: flex;
              justify-content: space-between;
              align-items: center;
  
              h3 {
                font-size: 1.7rem;
                margin-bottom: 15px;
                font-weight: bold;
                color: #2C3E50;
                margin: 0;
              }
  
              a {
                text-decoration: none;
                color: #2980B9;
                font-weight: bold;
                font-size: 1.1rem;
              }
            }
  
            p {
              font-size: 1rem;
              color: #7F8C8D;
              margin-bottom: 25px;
              line-height: 1.5;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              line-clamp: 3;
              -webkit-box-orient: vertical;
              text-overflow: ellipsis;
            }
          }
  
          & .left {
            display: flex;
            flex-direction: row;
            flex-basis: 10%;
          }
  
          @media (max-width: 800px) {
            display: flex;
            flex-direction: column;
  
            .left, .right {
              flex-basis: 50%;
              width: 100%;
            }
          }
        }
      }
    }
  }
  